*{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
}
.profile-pic{
    display: flex;
    justify-content: center;
    height: 15em;
    width: 15em;
    border-radius: 50%;
    margin: 1% 1% 1% 1%;
    box-shadow: 0px 0px 10px black;
}  

.profile-pic:hover{
    transform: scale(1.02);
    transition: transform .3s ease-in-out;
}
.profile-pic:not(:hover){
    transform: scale(1);
    transition: transform .3s ease-in-out;
    
}
li:hover{
    transform: scale(1.02);
    transition: transform .3s ease-in-out;
}
li:not(:hover){
    transform: scale(1);
    transition: transform .3s ease-in-out;
    
}
.menubar:hover{
    width: 0;
}
.menu{
    display: flex;
    position: relative;
    top: -55%;
    left: 25%;
    align-items: left;
}
.head{
    display: flex;
    width: 1;
    border-bottom: .14em solid black;
}
.page-title{
    display: flex;

    flex-direction: column;
    margin-top: 3%;
    margin-left: 3%;
}
#pic{
    border-radius: 50%;
    height: 15em;
    width: 15em;
}
body{
    background-image: url(pictures/background.jpg);
}
.social-links{
    display: flex;
    position: absolute;
    top: 1em;
    right: 4em;
    list-style: none;
    transform: scale(.4);
}
.social{
    padding: 1.5% 1.5% 1.5% 1.5%;
}
.top-menu{
    background-color: green;
}
.logo{
    display: flex;
}
.dropdown-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.menubar{
    display: flex;
    position: fixed;
    width: 100vw;
    z-index: 1;
}
.name
{
    display: flex;
    position: relative;
    top: 2em;
    left: 1em;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3em;
}